@import './mixin.scss';
@import './transition.scss';



body {
  height: 100%;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

button {
  padding: 2px;
  margin: 0;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  background: white;
  &:hover {
    background: #f6f6f6;
    cursor: pointer;
  }
}

div:focus {
  outline: none;
}

.textCenter {
  text-align: center;
}
.underline {
  text-decoration: underline;
}

input, textarea {
  outline: none;
  border: none;
  resize: none;
  background: none;
}

.noneBorder .el-input__inner {
  border: none;
  border-radius: 4px;
  background-color: $page_bg;
  font-size: 14px;
}

.noneBorderW .el-input__inner {
  border: none;
  border-radius: 4px;
  font-size: 12px;
  background: white;
}
.lightColor.el-divider {
  background-color: $mainColor;
}

.cover-uploader .el-upload--picture-card,.cover-uploader .el-upload-list__item{
    width: 250px;
    height: 250px;
    display: inline-block;
    line-height: 250px;
}
.cover-uploader .el-upload-list__item-status-label {
  line-height: 25px;
}

.el-scrollbar .el-select-dropdown__item {
  font-size: 12px;
}

.waiting .el-loading-text {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .5px;
}

.demo-ruleForm .el-form-item__label {
  font-size: 12px;
}
.demo-ruleForm .el-form-item {
  margin-bottom: 0;
}